.container-aside{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 230px;
    height: 95%;
    max-height: 754px;

    margin-top: 20px;
    margin-left: 10px;

    border-radius: 50px;
    align-items: center;
    justify-content: space-between;

    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 8px 0px;
    background: linear-gradient(180deg, rgba(0,147,233,1) 50%, rgba(128,208,199,1) 100%);
}

.aside-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 50px;
}


.aside-menu ul .list{
    list-style: none;
    display: flex;
    width: 100%;
    height: 50px;
    margin-top: 80px;

    align-items: center;
    padding-left: 30px;

    margin-left: 20px;

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.aside-menu ul {
   width: 100%;
   min-width: 230px;

}

.aside-menu ul .active{
    background: #F9F8FD;
    
}

.aside-menu .list img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    
}

.aside-menu a{
    text-decoration: none;
    color: #fff;
    transition:  0.2s;    
}
.aside-menu ul .active a{
    color: #000;
}

.DateFormat{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.date {
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.time {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
}

.logo{
    color: #fff;
}

.button-time{
    width: 120px;
    height: 40px;
    margin-bottom: 30px;
    
    font-size: 14px;
    background: #ffffff;
    color: #000000;

    border: none;
    border-radius: 50px;

    align-self: flex-end;
    margin-right: 10px;

    transition: 0.2s;
}

.button-time:hover{
    background: #ffffff4d;
}

@media (max-width: 400px) {
    .container-aside{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 330px;
        height: 95%;
        max-height: 754px;

        align-items: center;
        justify-content: center;

        margin-left: 0px;

    
    }

    .aside-menu{

        align-items: center;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .aside-menu ul .list{
        display: none;
    }

    .DateFormat{

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .date {
        text-decoration: none;
        color: white;
        font-size: 18px;
    }
    .time {
        text-decoration: none;
        color: white;
        font-size: 18px;
        margin-bottom: 10px;
    }

   
}