.container-card-big{
    width: 100%;
    max-width: 520px;
    height: 545px;

    background: #ffffff;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;

}


.button-date{
   width: 120px;
   height: 30px;

   margin-right: 10px;
   
   background: #0093E9;
   color: #ffffff;

   border: none;
   border-radius: 50px;

   transition: 0.2s;
   align-self: flex-end;

}

.button-date:hover{
    background: #025180;
    cursor: pointer;
}

.container-card-big h1{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 24px;
}

.task-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;

    margin-bottom: 10px;
}



.controller{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    margin: 20px;

}

.controller > h1{
    font-size: 28px;
    margin-bottom: 10px;
}

.title-header{
    display: flex;
    flex-direction: row;

    width: 100%;

    font-size: 12px;

    
    justify-content: space-between;
    margin-bottom: 10px;

}

.title-header > h1{
    margin-left: 25%;
}

.fechar {
    background: #b30202;
    width: 30px;
    height: 30px;

    color: #ffffff;

    border: none;
    border-radius: 150px;
    justify-self: flex-end;
    font-size: 12px;
    transition: 0.5s;
}

.fechar:hover{
    cursor: pointer;
    background: rgb(109, 1, 1);

}



/*-------------- Select-------------- */

.select-days-week{
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
}
.select-index-task{
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;

}
.select-output{
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;

}
.select-time{
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;

}
.select-action{
    width: 100%;
    max-width: 400px;
    margin-bottom: 5px;

}

.button-confirmation{
    width: 100%;
    max-width: 300px;
    height: 40px;
    margin-top: 10px;
      
    font-size: 14px;
    background: #0093E9;
    color: #ffffff;

    border: none;
    border-radius: 50px;

    transition: 0.2s;
}

.button-confirmation:hover{
    background: #025180;
    cursor: pointer;
}

.modal{
    position: absolute;
    top: 13%;
    left: 30%;
    right: 30%;
    bottom: 13%;
    background-color: #ffffff;

    border-radius: 20px;
    border: none;
  }

  .modal-confirmation{
    
        position: absolute;
        top: 40%;
        left: 35%;
        right: 35%;
        bottom: 40%;
        background-color: #ffffff;
    
        border-radius: 20px;
      
  }

  .confirmation{
      margin: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .confirmation > h1{
      font-size: 24px;
      margin-bottom: 10px;
  }

  .button-ok{
    width: 100%;
    max-width: 100px;
    height: 40px;
    margin-top: 10px;
      
    font-size: 14px;
    background: #0093E9;
    color: #ffffff;

    border: none;
    border-radius: 50px;

    transition: 0.2s;
}

.button-ok:hover{
    background: #025180;
    cursor: pointer;
}

  .overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.397);
      
  }
