.container-card-big{
    width: 100%;
    max-width: 520px;
    height: 97%;
    max-height: 640px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;

}


.button-date{
   width: 120px;
   height: 30px;

   margin-right: 10px;
   
   background: #0093E9;
   color: #ffffff;

   border: none;
   border-radius: 50px;

   transition: 0.2s;
   align-self: flex-end;

}

.button-date:hover{
    background: #025180;
    cursor: pointer;
}

.container-card-big h1{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 24px;
}

.task-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;

    margin-bottom: 10px;
}



.controller{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px;

    width: 100%;
}

.controller > h1{
    font-size: 28px;
    margin-bottom: 10px;
}

.title-header{
    display: flex;
    flex-direction: row;

    width: 100%;

    font-size: 12px;

    
    justify-content: space-between;
    margin-bottom: 10px;

}

.title-header > h1{
    margin-left: 25%;
}

.fechar {
    background: #b30202;
    width: 30px;
    height: 30px;

    color: #ffffff;

    border: none;
    border-radius: 150px;
    justify-self: flex-end;
    font-size: 12px;
    transition: 0.5s;
}

.fechar:hover{
    cursor: pointer;
    background: rgb(109, 1, 1);

}



/*-------------- Select-------------- */

.select-days-week{
    width: 100%;
    max-width: 400px;
}

.select-index-task{
    width: 100%;
    max-width: 400px;
}

.select-output{
    width: 100%;
    max-width: 400px;
}
.select-time{
    width: 100%;
    max-width: 400px;
}
.select-action{
    width: 100%;
    max-width: 400px;
}

.button-confirmation{
    width: 100%;
    max-width: 300px;
    height: 40px;
    margin-bottom: 20px;

      
    font-size: 14px;
    background: #0093E9;
    color: #ffffff;

    border: none;
    border-radius: 50px;

    transition: 0.2s;
}

.button-confirmation:hover{
    background: #025180;
    cursor: pointer;
}

.modal{
    position: absolute;
    top: 13%;
    left: 30%;
    right: 30%;
    bottom: 13%;
    background-color: #ffffff;

    border-radius: 20px;
    border: none;
    display: flex;

  }

  .modal-confirmation{
    
        position: absolute;
        top: 30%;
        left: 40%;
        right: 40%;
        bottom: 30%;
        background-color: #ffffff;
    
        border-radius: 20px;
      
  }

  .confirmation{
      margin: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .confirmation > h1{
      font-size: 24px;
      margin-bottom: 10px;
  }

  .confirmation > p{
      font-size: 60px;
      margin-bottom: 10px;
      margin-top: 15px;
  }

  .button-ok{
    width: 100%;
    max-width: 150px;
    height: 40px;
    margin-top: 10px;
      
    font-size: 14px;
    background: #0093E9;
    color: #ffffff;

    border: none;
    border-radius: 50px;

    transition: 0.2s;
}

.button-ok:hover{
    background: #025180;
    cursor: pointer;
}

  .overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.397);
      
  }

  #environmentSelectEdit{
    width: 100%;
    max-width: 400px;
    height: 37px;
    padding-left: 5px;

    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    background: white;
    box-shadow: 0 1px 3px -2px #9098A9;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    transition: all 150ms ease 
   
  }
   
  #timeSelectEdit{
    width: 100%;
    max-width: 400px;
    height: 37px;

    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    background: white;
    box-shadow: 0 1px 3px -2px #9098A9;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
    transition: all 150ms ease 

    
   
  }
  #actionSelectEdit{
    width: 100%;
    max-width: 400px;
    height: 37px;
    padding-left: 5px;


    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    background: white;
    box-shadow: 0 1px 3px -2px #9098A9;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    transition: all 150ms ease 
   
  }
  .select{
      display: grid;
  }

  .select::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: #9098A9;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  }

  .select select {
    appearance: none;
    padding: 0 1em 0 0;
  }
  .select select::-ms-expand {
    display: none;
  }

  .select {

    grid-template-areas: "select";
  }
  
  select,
  .select:after {
      grid-area: select;
      margin-right: 12px;
  }

  .select {

    align-items: center;
  }
  
  .select:after {
    justify-self: end;
  }

  .tableBigCard{
    overflow: auto;
  }



  @media (max-width : 400px){
    .container-card-big{
      width: 100%;
      max-width: 350px;
      margin-left: 0px;
  
  }

  .modal{
    position: absolute;
    top: 15%;
    left: 10%;
    right: 10%;
    bottom: 15%;
    background-color: #ffffff;

    border-radius: 20px;
    border: none;
    display: flex;

  }

  .modal-confirmation{
    
        position: absolute;
        top: 35%;
        left: 15%;
        right: 15%;
        bottom: 35%;
        background-color: #ffffff;
    
        border-radius: 20px;
      
  }

  .button-confirmation{
    width: 100%;
    max-width: 200px;

  }

  .button-ok{
    width: 100%;
    max-width: 150px;
  }


  .title-header{
    display: flex;
    flex-direction: row;

    width: 100%;

    font-size: 10px;

    
    justify-content: space-between;
    margin-bottom: 10px;

  }

  .title-header > h1{
    margin-left: 5%;
  }
}