.container-main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-area{
    width: 100%;
    max-width: 1270px;
    height: 100vh;
    max-height: 820px;

    background: #F9F8FD;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 20px;

    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
	grid-template-rows: 16% 47% 37%;
    grid-template-areas: 
        "aside header header header header "
        'aside card-medium card-medium card-big card-big'
        "aside card-small card-small-2 card-big card-big "
    ;
}

.grid-aside{
    grid-area: aside;
}

.grid-header{
    grid-area: header;
}

.grid-card-medium{
    grid-area: card-medium;
}

.grid-card-big{
    grid-area: card-big;
}

.grid-card-small{
    margin-bottom: 15px;
    grid-area: card-small;
}

.grid-card-small-2{
    margin-bottom: 15px;
    grid-area: card-small-2;
}