.container-main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-area{
    width: 100%;
    max-width: 1270px;
    height: 100vh;
    max-height: 820px;

    background: #F9F8FD;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 20px;

    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
	grid-template-rows: 16% 47% 37%;
    grid-template-areas: 
        "aside header header header header "
        'aside card-medium card-medium card-big card-big'
        "aside card-small card-small-2 card-big card-big "
    ;
}

.grid-aside{
    grid-area: aside;
}

.grid-header{
    grid-area: header;
}

.grid-card-medium{
    grid-area: card-medium;
}

.grid-card-big{
    grid-area: card-big;
}

.grid-card-small{
    margin-bottom: 15px;
    grid-area: card-small;
}

.grid-card-small-2{
    margin-bottom: 15px;
    grid-area: card-small-2;
}

@media (max-width: 400px) {

    .grid-area{
        /* display: flex;
        flex-direction: column; */
        display: grid;
        grid-template-columns: 50% 50% ;
        grid-template-rows: auto;
        grid-template-areas: 
            " aside aside "
            ' header header '
            " card-medium card-medium "
            " card-small card-small-2 "
            " card-big card-big "
        ;

        width: 100%;
        box-shadow: none;

        justify-items: center;
        align-items: center;
       
    }

    .grid-aside{
        width: 100%;
        max-width: 300px;
        grid-area: aside;

    }
    
    .grid-header{
        width: 100%;
        max-width: 300px;
        margin-left: 0px;
        grid-area: header;
    }
    
    .grid-card-medium{
        width: 100%;
        max-width: 300px;

        margin-top: 30px;
        grid-area: card-medium;
    }
    
    .grid-card-small{
        width: 100%;
        max-width: 300px;
        margin-top: 20px;

        margin-bottom: 0px;

       
    }

    .grid-card-small-2{
        margin-top: 20px;
        width: 100%;
        max-width: 300px;

        margin-bottom: 0px;
        margin-left:-20px;

    }
    .grid-card-big{
        width: 100%;
        max-width: 350px;

        margin-top: 30px;
        grid-area: card-big;
    }
    

}