.conteiner-table{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
}

.content-table{
    border-collapse: collapse;
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.15);

}

.content-table thead tr{
    background-color: #0093E9;
    color: #fff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 8px;
    text-align: center;
}


.content-table tbody tr {
    border-bottom: 1px solid #dddddd;

}

.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #0093E9;
}

.content-table tbody tr .active-row{
    font-weight: bold;
    color:#0093E9;
}

.content-table tbody tr img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 5px;
}

.content-table tbody tr button {
    background: #fff;
    border: none;
    margin-left: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.invisible{
    visibility: hidden;
}

@media (max-width : 500px){
    .invisible{
        display: none;
    }

    .conteiner-table{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 350px;

    }

    .content-table{
        max-width: 350px;
    }

    .content-table thead tr{
       font-size: 11px;
    }
    
    .content-table th,
    .content-table td {
        padding: 12px 8px;
        text-align: center;
       font-size: 11px;

    }

    .content-table tbody tr img {
        width: 20px;
        height: 15px;
        cursor: pointer;
        margin-left: 0px;
    }
    
    
}


